= nested_form_for @service, :html => { :multipart => true  }  do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    = f.label "عنوان خدمات "
    = f.text_field :title
  
  .field
    = f.label "توضیحات"
    %br
      %div.editor
      = f.text_area :description, :class => "ckeditor"          
      
  .field
    =f.fields_for :pictures do |picture|  
      = render "shared/upload_image_form", :picture => picture
  .clrear-float    
  = f.link_to_add content_tag(:span, "افزودن تصویر"), :pictures, :class => "btn", :id =>"add_new_picture"
  
  .actions
    = f.submit 'ثبت', :class => "btn"
    
:javascript
  function enable_file_select(){
  $(".enable_file_select").unbind('click').click(function(){
  $(this).parent().find("input:file").click();
  });}
  enable_file_select();
  $("#add_new_picture").click(function(){
    console.log('h11');
    $(".enable_file_select").unbind('click');
    window.setTimeout('enable_file_select()', 1000);
  });

