= nested_form_for @service, :html => { :multipart => true  }  do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "service name"
    = f.text_field :title
  .field
    = f.label :title_fa
    = f.text_field :title_fa
 
  .field
    = f.label  "description" 
    %br
      %div.editor
        %br
        = f.text_area :description, :class => "ckeditor"
  .field
    = f.label :description_fa
    %br
      %div.editor
      = f.text_area :description_fa, :class => "ckeditor"          
  .field
    =f.fields_for :pictures do |picture|  
      .field
        =picture.file_field :image
        =picture.text_area :description, :rows => 3
        =picture.text_area :description_fa, :rows => 3
        =picture.link_to_remove "Remove this task"
    = f.link_to_add "Add a picture", :pictures    
  .actions
    = f.submit 'ثبت'
