.list-div
  #welcom_pan
    %h2.heading2       
      %span 
        ="خدمات"
    %h3.t= @service.title
    .clrear-float
    .description
      .details
        = raw @service.description
        -if @service.pdf.url.present?
          .pdf-link
            =link_to @service.pdf.url, :target => "blank" do
              =image_tag "pdf.png"
              %br
              دریافت فایل
      .sample-pic=link_to (image_tag @service.sample_picture.image(:large)), @service.sample_picture.image(:original), :"data-lightbox" => "image-1"     
      .clrear-float
      
      .div_pic
        -@service.pictures.offset(1).each do |photo|
          .tr
            =link_to (image_tag photo.image(:medium), :class => "pic_service"), photo.image(:original), :"data-lightbox" => "image-1",   :class => "pic_service", :title => photo.description
            
    .clrear-float
    -if is_admin?
      #quotPan
        .footer_Link
          = link_to 'ویرایش', edit_service_path(@service)
          \|
          = link_to 'بازگشت', services_path
          \|
          = link_to 'حذف ', @service, method: :delete, data: { confirm: 'آیا میخواهید این خدمات را حذف کنید?'}
