%p#notice= notice
%div.newP_page
  %p
    %b عنوان خدمات:
    = @service.title
  
  %div.des
    %b توضیحات:
    = @service.description
  %div
    %br
    %div.div_pic	  
      -@service.pictures.each do |photo|
        = image_tag photo.image(:small), :class => "pic_service"
  
  %div.cr
  %div.footer_Link
    = link_to 'اعمال تغییرات', edit_service_path(@service)
    \|
    = link_to 'بازگشت', services_path
