.list-div
  #welcom_pan  
     %h2.heading2 
      = t("Service")
      %span
        = t("IDM_Service")
    %h3.t= @service.title
    .clrear-float
    .description                  
      .details
        = raw @service.description
      .sample-pic=image_tag @service.sample_picture.image(:large)
      .clrear-float
      .div_pic
        -@service.pictures.each do |photo|
          .tr
            = image_tag photo.image(:medium), :class => "pic_service"
            .td= photo.description          
    .clrear-float
    -if is_admin?
      #quotPan
        .footer_Link
          = link_to 'اعمال تغییرات', edit_service_path(@service)
          \|
          = link_to 'بازگشت', services_path
          \|
          = link_to 'حذف محصول', @service, method: :delete, data: { confirm: 'آیا میخواهید این خدمات را حذف کنید?'}
