.list-div
  #welcom_pan  
    %h2 
      %span
        Company
      Services List 
    %h3.t= @service.title
    .clrear-float
    .description                  
      .details
        = raw @service.description
      .div_pic
        -@service.pictures.each do |photo|
          = image_tag photo.image(:large), :class => "pic_service"
          .td= photo.description
          
    .clrear-float
    -if is_admin?
      #quotPan
        .footer_Link
          = link_to 'اعمال تغییرات', edit_service_path(@service)
          \|
          = link_to 'بازگشت', services_path
          \|
          = link_to 'Destroy', @service, method: :delete, data: { confirm: 'Are you sure?'}
