.list-div
  #welcom_pan   
    %h2.heading2       
      %span 
        ="اسلایدر"
        #{GlobalConstant::COMANYـNAME}
      = "راشا"        
    .show-list
      .form-holder    
        = form_for @slide, :html => {:multipart => true} do |f| 
          = image_tag @slide.image.url(:original), :class => "crop cropImage", :height => "450", :width => "966"
          = f.hidden_field :crop_x
          = f.hidden_field :crop_y
          = f.hidden_field :crop_w
          = f.hidden_field :crop_h
          .field
            
            .s-description
              = f.label "توضیحات"
              = f.text_area :description, :cols => '80', :rows => "3", :id => "slide_des"  
          
          .clrear-float
          .actions
            .div_btn
              = f.submit 'ثبت', :class => "btn"
    #quotPan
      .footer_Link
        = link_to 'بازگشت', slides_path

      :javascript
        $( '.crop' ).each( function () {
          var image = $( this )
          , crop  = image
          .crop( {
            controls : 'Drag to move, scroll to zoom'
          } )
          .on( 'crop', function( event ) {
            $("#slide_crop_x").val(event.cropX);
            $("#slide_crop_y").val(event.cropY);  
            $("#slide_crop_h").val(event.cropH);
            $("#slide_crop_w").val(event.cropW);
          })
          .data('crop');
            image
            .on( 'dblclick', $.proxy( crop.zoomIn, crop ) )
            .on( 'mousewheel', function ( event ) {
            return event.originalEvent.wheelDelta < 0 ?
            crop.zoomIn() :
            crop.zoomOut();
          } );
        } );
            
          
