%h1 ثبت تغییرات


%div
  .crop_image    
    = form_for @slide, :html => {:multipart => true} do |f| 
      
      = f.label :توضیحات
      = f.text_area :description, :id => "slide_des"
    
      = image_tag @slide.image.url(:original), :class => "crop cropImage", :height => "360", :width => "950"
      = f.text_field :crop_x
      = f.text_field :crop_y
      = f.text_field :crop_w
      = f.text_field :crop_h
      .div_btn
        = f.submit 'ثبت تصویر'
      
.footer_Link
  = link_to 'Show', @slide
  \|
  = link_to 'Back', slides_path

:javascript
  $( '.crop' ).each( function () {
    var image = $( this )
    , crop  = image
    .crop( {
      controls : 'Drag to move, scroll to zoom'
    } )
    .on( 'crop', function( event ) {
      $("#slide_crop_x").val(event.cropX);
      $("#slide_crop_y").val(event.cropY);  
      $("#slide_crop_h").val(event.cropH);
      $("#slide_crop_w").val(event.cropW);
    })
    .data('crop');
      image
      .on( 'dblclick', $.proxy( crop.zoomIn, crop ) )
      .on( 'mousewheel', function ( event ) {
      return event.originalEvent.wheelDelta < 0 ?
      crop.zoomIn() :
      crop.zoomOut();
    } );
  } );
      
    