%div.slider_show{:align => "center"}
  %p#notice= notice
  %div.slide_pic
    = image_tag @slide.image.url(:medium)
  %p.slide_des
    %b توضیحات
    %br
    = @slide.description
  %div.cr
  %div.footer_Link
    = link_to 'اعمال تغییرات', edit_slide_path(@slide)
    \|
    = link_to 'بازگشت', slides_path
