.list-div
  #welcom_pan   
    %h2.heading2       
      = "اسلایدر"
      %span 
        = "راشا"      
    %p#notice= notice
    = image_tag @slide.image(:gallery_size)
    .show-des-fa
      =raw @slide.description
    #quotPan
      .footer_Link
        = link_to content_tag("span", "اعمال تغییرات"), edit_slide_path(@slide)
        \|
        = link_to content_tag("span", "بازگشت"), home_path
        \|
        = link_to 'حذف تصویر', @slide, method: :delete, data: { confirm: 'آیا میخواهید این تصویر را حذف کنید?'}
    
