= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation      
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "نام کاربری:"
    %span.Necessary= "ضروری"
    %br/
    = f.text_field :name
  .field
    = f.label "ایمیل:"
    %span.Necessary= "ضروری"
    %br/
    = f.text_field :email  
  .field
    = f.label "رمز عبور"
    %span.Necessary= "ضروری"
    %br/
    = f.password_field :password  
  .field
    = f.label "تکرار رمز عبور"
    %span.Necessary= "ضروری"
    %br/
    = f.password_field "password_confirmation"
  .actions
    = f.submit "ثبت", :class => "btn"
