#welcom_pan
  %h2.heading2
    %span>  ورود به سایت/ 
    بخش مدیریت

  #quotPan
    - if flash[:partial]
      = render partial: "shared/#{flash[:partial]}"
    .login-form
      = form_tag create_session_path do 
        .field
          %span.lable=" نام کاربری:"
          %span= text_field_tag :name, "",:class => "txt", :placeholder => "نام کاربری را وارد کنید"
          %span.lable=" رمز عبور:"
          %span= password_field_tag :password, "", {:class => "txt"}      
          = submit_tag "ورود", {:class => "btn login-btn"}   
    

