#welcom_pan
  %h2
    %span>  ورود به سایت/ 
    بخش مدیریت

  #quotPan
    = flash[:notice]
    = form_tag create_session_path do 
      .field
        = text_field_tag :name, "",:class => "txt", :placeholder => "نام کاربری را وارد کنید"
        = password_field_tag :password, "", {:class => "txt"}      
        = submit_tag "ورود", {:class => "btn"}
    
 
