#foot
  #foot_cen
    %h6
      %a{href: "index.html"} mcube
    %ul
      %li
        = link_to "Home", homedesign_path
      %li.space \
      %li
        = link_to "CONTACT", Page
      %li.space /
      %li
        = link_to "SERVICES", Service
      %li.space \
      %li
        = link_to "PRODUCTS", Product
      %li.space /
      %li
        = link_to "ABOUT", Page
      
    %p
      © Your Copyright Info Here. Designed by:
      %a{href: "http://www.Raush.net", target: "_blank"} Raush.net
