.above-menu
.hero-unit
  .carousel.slide
    .carousel-inner
      -@slides.each do |slide|
        .item-row.item
          = link_to (image_tag slide.image(:gallery_size), :id =>  slide.id ), slide, :class => "slide"
          -if is_admin?
            .row-controls
              = link_to edit_slide_path(slide) do
                %i.icon-edit
              = link_to  slide, :method => :delete, :data => { :confirm => 'Are you sure?' }  do
                %i.icon-trash
          -if slide.description_fa.present?
            .image-des-holder
              = slide.description 
    .carousel-controls
      .center
        %ol.carousel-indicator-list.carousel-indicators
          - if  @slides.count != 1
            -  @slides.each_with_index do |slide, index|
              %li{"data-slide-to" => "#{index}", "data-target" => "#homeCarousel", :class => "slide-indicator"}      
    %a.carousel-control.left{"data-slide" => "prev", href: ".carousel"} ›
    %a.carousel-control.right{"data-slide" => "next", href: ".carousel"}‹             
    
.below-menu
