.text-div
  #welcom_pan
    %h2.heading2
      = "شرکت"
      %span 
        = "راشا"         
    %p.homepage 
      
    
    %h3.heading3
      %span
        = "محصولات"
      =image_tag "products-icon.png"
    #service_pan
      %ul
        -Product.all.each do |product|
          %li                                        
            %h5= product.title
            %p
              = truncate(strip_tags(product.description), :length => 80)
              =link_to "ادامه مطلب", product
    .clrear-float
    %h3.heading3
      %span 
        = "خدمات"
      =image_tag "services-icon.png"
    #service_pan
      %ul
        -Service.all.each do |service|
          %li                                        
            %h5= service.title
            %p
              = truncate(strip_tags(service.description), :length => 80)
              =link_to  "ادامه مطلب", service
    .clrear-float
    .rezomeh
      - Customer.all.each do |customer| 
        .item-company
          .himg
            =image_tag customer.image(:small), :id => customer.id
          %div.des-logo-company{:id => customer.id}= customer.description
        
    
  :javascript 
    $(".item").first().addClass("active");
    $(".slide-indicator").first().addClass("active");
    $('.carousel').carousel();
      
    $('.item-company').mouseover(function(){
      $(this).children(".des-logo-company").css({"display":"block"});    
    });
    
    $('.item-company').mouseout(function(){
      $(this).children(".des-logo-company").css({"display":"none"});    
    });
    
