.text-div
  #welcom_pan
    %h2.heading2
      = "شرکت"
      %span 
        = "راشا"         
    %p.homepage 
      
    
    %h3.heading3
      %span
        = "محصولات"
      =image_tag "products-icon.png"
    #service_pan
      %ul
        -Product.all.each do |product|
          %li                                        
            %h5= product.title_fa
            %p
              = strip_tags(product.description_fa)
              =link_to "ادامه مطلب", product
    
    %h3.heading3
      %span 
        = "خدمات"
      =image_tag "services-icon.png"
    #service_pan
      %ul
        -Service.all.each do |service|
          %li                                        
            %h5= service.title_fa
            %p
              = strip_tags(service.title_fa)
              =link_to  "ادامه مطلب", service
    .rezomeh
      .item-company
        .himg
          =image_tag "co_logos_mean_09.jpg"
        %span="توضیحات مربوط"
      .item-company
        .himg
          =image_tag "raush-logo.jpg"
        %span="توضیحات مربوط"
      .item-company
        .himg
          =image_tag "company_logo.jpg"
        %span="توضیحات مربوط"
      
      
    
  :javascript
    $(".item").first().addClass("active");
    $(".slide-indicator").first().addClass("active");
    $('.carousel').carousel();
        

