.text-div
  #welcom_pan{:class => I18n.locale}
    %h2.heading2
      = t("welcom_pan")
      %span 
        = t("IDM")         
    %p.homepage 
      = t("Introduction")
    
    %h3.heading3{:class => I18n.locale}
      %span
        = t("Products")
      =image_tag "products-icon.png"
    #service_pan
      %ul
        -Product.all.each do |product|
          %li                                        
            %h5= product.title
            %p
              = strip_tags(product.description)
              =link_to t("More"), product, {:class => I18n.locale} 
    
    %h3.heading3
      %span 
        = t("Services")
      =image_tag "services-icon.png"
    #service_pan{:class => I18n.locale}
      %ul
        -Service.all.each do |service|
          %li                                        
            %h5{:class => I18n.locale}= service.title
            %p
              = strip_tags(service.description)
              =link_to t("More"), service, {:class => I18n.locale}  
    
  :javascript
    $(".item").first().addClass("active");
    $(".slide-indicator").first().addClass("active");
    $('.carousel').carousel();
        

