.text-div
  #welcom_pan
    %h2
      %span> IDM Co
      Introduction
    
    %p 
      = t("Introduction")
    
    %h3
      %span
        = t("Products")
      =image_tag "icon1.png"
    #service_pan
      %ul
        -Product.all.each do |product|
          %li                                        
            %h5= product.title
            %p
              = strip_tags(product.description)
              =link_to "More", product  
    
    %h3
      %span 
        = t("Services")
      =image_tag "icon2.png"
    #service_pan
      %ul
        -Service.all.each do |service|
          %li                                        
            %h5= service.title
            %p
              = strip_tags(service.description)
              =link_to "More", service   
    
  :javascript
    $(".item").first().addClass("active");
    $(".slide-indicator").first().addClass("active");
    $('.carousel').carousel();

