.text-div
  #welcom_pan
    %h2.heading2
      = "شرکت"
      %span 
        = "راشا"         
    %p.homepage 
      
    
    %h3.heading3
      %span
        = "محصولات"
      =image_tag "products-icon.png"
    #service_pan
      %ul
        -Product.all.each do |product|
          %li                                        
            %h5= product.title
            %p
              = strip_tags(product.description)
              =link_to "ادامه مطلب", product
    
    %h3.heading3
      %span 
        = "خدمات"
      =image_tag "services-icon.png"
    #service_pan
      %ul
        -Service.all.each do |service|
          %li                                        
            %h5= service.title
            %p
              = strip_tags(service.description)
              =link_to  "ادامه مطلب", service
    .rezomeh
      - Customer.all.each do |customer| 
        .item-company
          .himg
            =image_tag customer.image(:small), :id => customer.id
          %span.des-logo-company{:id => customer.id}= customer.description
        
    
  :javascript 
    $(".item").first().addClass("active");
    $(".slide-indicator").first().addClass("active");
    $('.carousel').carousel();
        
    $(".item-company").mouseover(function(){
      $(this span).fadeup(100);
    });
    
    $(".item-company").mouseover(function(){
    $(this).css("background-color","blue");
    });
  

