%h1 Listing pages

%table
  %tr
    %th Page title
    %th Page html en
    %th Page html fa
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.page_title
      %td=raw page.page_html_en
      %td=raw page.page_html_fa
      %td= link_to 'Show', page
      %td= link_to 'Edit', edit_page_path(page)
      %td= link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_page_path
