.list-div
  #welcom_pan{:class => I18n.locale}  
    %h2.heading2 
      = t("Page")
      %span
        = t("IDM_Page")      
    .show-list 
      .table{:class => I18n.locale}
        .tr{:class => I18n.locale}
        - @pages.each do |page| 
          .tr
            .td= link_to content_tag(:div, page.title, :class => "pro-title"), page          
            .td
              .footer_Link
               
                = link_to 'اعمال تغییرات', edit_page_path(page)
                \|
                = link_to 'حذف', page, :method => :delete, :data => { :confirm => 'Are you sure?' }     
    .clrear-float
    #quotPan       
      = link_to content_tag("span", "صفحه جدید"), new_page_path, :class => "brochure"

