.list-div
  #welcom_pan{:class => I18n.locale}   
    %h2.heading2 
      = @page.title
      %span
        = t("IDM_Page")   
    %p#notice= notice
    .show-des-en{:class => I18n.locale}     
      =raw @page.page_html
    -if is_admin?
      #quotPan 
        .footer_Link
          = link_to content_tag("span", "اعمال تغییرات"), edit_page_path(@page)
          \|
          = link_to content_tag("span", "بازگشت"), home_path
  

