%p#notice= notice

%p
  %b 
  = @page.title
%p
  %b Page html en:
  =raw @page.page_html_en
%p
  %b Page html fa:
  = @page.page_html_fa

= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'back', root_path

