.list-div
  #welcom_pan
    %h2.heading2 
      = @page.title_fa
      %span 
        = "راشا"         
    %p#notice= notice
    .show-des-en
      =raw @page.page_html_fa
    -if is_admin?
      #quotPan 
        .footer_Link
          = link_to content_tag("span", "اعمال تغییرات"), edit_page_path(@page)
          \|
          = link_to content_tag("span", "بازگشت"), home_path
  

