.list-div
  #welcom_pan
    %h2.heading2       
      = "لیست محصولات"
      %span 
        = "راشا"        
      
    .show-list
      .table{:class => I18n.locale}
        - @products.each do |product|
          .tr
            .td= link_to content_tag(:div, product.title, :class => "pro-title"), product
            .td= link_to (image_tag product.pictures.first.image(:medium)), product
    -if is_admin?        
      #quotPan        
        = link_to content_tag("span", "محصول جدید"), new_product_path, :class => "btn"
