%div
	%h1 product list
	.well
		-@products.each do |product|
			.well.product-row
				.span2
					= image_tag product.pictures.first.image(:small) if product.pictures.present?		
				.span3
					= product.title
				.span4	
					= product.description
				
				.well.pull-left.row-controls
					%i.icon-edit	
					%i.icon-edit
						= link_to '', edit_product_path(product)
					%i.icon-trash
						= link_to '', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
				
				
		
		= link_to 'تعریف محصول جدید', new_product_path, :id => "new_btn"
