.list-div
  #welcom_pan   
    %h2 
      %span
        Company
      Products List
    .show-list
      .table
        - @products.each do |product|
          .tr            
            .td= link_to (image_tag product.pictures.first.image(:small)), product
            .td= link_to product.title, product
            .td
              = link_to 'اعمال تغییرات', edit_product_path(product)
              = link_to 'حذف', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
          .clrear-float
          
  #quotPan        
    = link_to 'New Products', new_product_path, :class => "btn", :name => "btn"
