.list-div
  #welcom_pan
    %h2.heading2
      %span 
        = "دوره های آموزشی"
        
    %h3.t= @product.title
    .clrear-float
    .description
      .details
        = raw @product.description    
      .sample-pic=link_to (image_tag @product.sample_picture.image(:large)), @product.sample_picture.image(:original), :"data-lightbox" => "image-1"     
      .clrear-float
      .div_pic                
        -@product.pictures.offset(1).each do |photo|
          .tr
            =link_to (image_tag photo.image(:medium), :class => "pic_service"), photo.image(:original), :"data-lightbox" => "image-1",  :class => "pic_service", :title => photo.description
                  
    .clrear-float
    -if is_admin?
      #quotPan
        .footer_Link
          = link_to 'ویرایش', edit_product_path(@product)
          \|
          = link_to 'بازگشت', products_path
          \|
          = link_to 'حذف ', @product, method: :delete, data: { confirm: 'آیا میخواهید این محصول را حذف کنید?'}

