.list-div
  #welcom_pan  
    %h2 
      %span
        Company
      Products List 
    %h3.t= @product.title
    .clrear-float
    .description                  
      .details
        = raw @product.description
      .div_pic
        -@product.pictures.each do |photo|
          = image_tag photo.image(:large), :class => "pic_service"
          .td= photo.description          
    .clrear-float
    #quotPan
      .footer_Link
        = link_to 'اعمال تغییرات', edit_product_path(@product)
        \|
        = link_to 'بازگشت', products_path
        \|
        = link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?'}

