%p#notice= notice
%div.newP_page
  %p
    %b عنوان محصول
    = @product.title
  
  %div.des
    %b توضیحات:
    = raw @product.description
  %div
    %br
    %div.div_pic	  
      -@product.pictures.each do |photo|
        = image_tag photo.image(:small), :class => "pic_service"
        =photo.description
  
  %div.cr
  %div.footer_Link
    = link_to 'اعمال تغییرات', edit_product_path(@product)
    \|
    = link_to 'بازگشت', products_path

