.list-div
  #welcom_pan{:class => I18n.locale} 
    %h2.heading2 
      = t("Product")
      %span
        = t("IDM_Product")
    %h3.t= @product.title
    .clrear-float
    .description{:class => I18n.locale}                  
      .details
        = raw @product.description    
      .sample-pic=image_tag @product.sample_picture.image(:large)
      .clrear-float
      .div_pic                
        -@product.pictures.each do |photo|
          .tr
            = image_tag photo.image(:medium), :class => "pic_service"
            .td= photo.description          
    .clrear-float
    -if is_admin?
      #quotPan
        .footer_Link
          = link_to 'اعمال تغییرات', edit_product_path(@product)
          \|
          = link_to 'بازگشت', products_path
          \|
          = link_to 'حذف محصول', @product, method: :delete, data: { confirm: 'آیا میخواهید این محصول را حذف کنید?'}

