.list-div
  #welcom_pan  
    %h2 
      %span
        Company
      Products List 
    %h3.t= @product.title
    .clrear-float
    .description                  
      .details
        = raw @product.description    
      .sample-pic=image_tag @product.sample_picture.image(:large)
      .clrear-float
      .div_pic                
        -@product.pictures.each do |photo|
          .tr
            = image_tag photo.image(:medium), :class => "pic_service"
            .td= photo.description          
    .clrear-float
    -if is_admin?
      #quotPan
        .footer_Link
          = link_to 'اعمال تغییرات', edit_product_path(@product)
          \|
          = link_to 'بازگشت', products_path
          \|
          = link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?'}

