%p#notice= notice

%p
  %b عنوان محصول:
  = @product.title
%p
  %b تصویر محصول:
  -@product.pictures.each do |picture|
    = image_tag picture.photo.url
%p
  %b توضیحات:
  = @product.description

= link_to 'اعمال تغییرات', edit_product_path(@product)
\|
= link_to 'برگشت', products_path
