<!DOCTYPE html>
<html>
<head>
  <title>IndustiralSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "ckeditor.js" %>  
  <%= javascript_include_tag "jquery_003.js" %>
  <%= javascript_include_tag "jquery_002.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="bgcolor" >

<%= yield %>

</body>
</html>
